{
    "server": {
        "listen": "0.0.0.0",
        "port": 7443,
        "use_ssl": true,
        "ssl_certificate": "cert/www.example.com.cert",
        "ssl_key": "cert/www.example.com.key",
        "root": "/data/cloud"
    },

    "authentication": {
        "method": "basic",
        "realm": "pilvini"
    },

    "users": [
        {
            "name": "user",
            "password_hash": "cec87dbff57453376e76e84fa17ab292",
            "home": "/home/user"
        }
    ],

    "global": {
        "debug": false
    }
}
