{
    "server": {
        "listen": "0.0.0.0",
        "port": 8000,
        "use_ssl": false,
        "root": "/"
    },

    "authentication": {
        "method": "basic",
        "realm": "pilvini"
    },

    "users": [
        {
            "name": "admin",
            "password_hash": "03f07bc2191ffa8f6e3cad73446015f3",
            "home": "",
            "permissions": ["ADMIN"]
        }
    ],

    "global": {
        "debug": false
    }
}
