.sh-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;
}

.sh-popup > div {
    position: relative;
    border: solid 1px var(--color-border);

    background-color: var(--color-content-background);
}

.sh-popup header, .sh-popup footer {
    position: relative;
}

.sh-popup header {
    color: var(--color-primary);
    background-color: var(--color-highlight-background);
    height: 2rem;
    line-height: 2rem;
    border-bottom: solid 1px var(--color-border);
    text-align: center;
}

.sh-popup footer {
    margin: 0.5rem;

    height: 2rem;
    line-height: 2rem;
    background-color: var(--color-primary-background);
    color: var(--color-primary);
    
    text-align: center;
}