.sh-popup {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;
}

.sh-popup > div {
    position: relative;
    border: solid 1px var(--color-border);

    background-color: var(--color-content-background);
}

.sh-popup header, .sh-popup footer {
    position: relative;
}

.sh-popup header {
    background-color: var(--color-highlight-background);
}

.sh-popup footer {
    border: none;
}