.sh-page {
    visibility: hidden;
    display: none;
    position: absolute;
    color: var(--color-primary);
    background-color: var(--color-content-background);
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    /*padding-top: 3rem;*/
}

.sh-page.sh-visible {
    display: block;
}

.sh-page > header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 3rem;
    line-height: 3rem;

    background-color: var(--color-primary-background);
    color: var(--color-primary);
    border-bottom: solid 1px var(--color-border);
    
    text-align: center;
}

.sh-page > footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    
    background-color: var(--color-primary-background);
    color: var(--color-primary);
    border-top: solid 1px var(--color-border);

}

.sh-page.sh-page-fullscreen > header {
    visibility: hidden;
}

.sh-page.sh-page-fullscreen {
    padding-top: 0;
}

.sh-page.sh-page-fullscreen > footer {
    visibility: hidden;
}

.sh-page.sh-page-transitioning {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
