.sh-theme-default {
    --color-primary: #404040;
    --color-primary-background: #f0f0f0;
    --color-primary-background-translucent: rgba(240, 240, 240, 0.8); /* #f0f0f0a0;*/
    --color-highlight: #000000;
    --color-highlight-background: #7faac7;
    --color-content-background: white;
    --color-content-alt-background: #f0f0f0;
    --color-disabled: #a0a0a0;
    --color-border: #a0a0a0;

    font-family: Arial, Helvetica, sans-serif;
}



.sh-theme-dark {
    --color-primary: #ffffff;
    --color-primary-background: #404040;
    --color-primary-background-translucent: rgba(64, 64, 64, 0.8); /* #404040a0;*/
    --color-highlight: #ffff00;
    --color-highlight-background: #0000ff;
    --color-content-background: #000000;
    --color-content-alt-background: #404040;
    --color-disabled: #808080;
    --color-border: #a0a0a0;

    font-family: Arial, Helvetica, sans-serif;
}
