a, input[type=submit], input[type=button] {
    border-radius: 0.25rem;
    border: solid 1px var(--color-border);
    padding: 0.2rem;
    margin: 0.2rem;
    min-width: 4rem;
    background: #000;
    background-color: var(--color-primary-background);
    color: var(--color-primary);
    text-align: center;
    cursor: pointer;
    font-family: inherit;
    font-size: 1rem;
    display: inline;
}

a:hover, input[type=submit]:hover, input[type=button]:hover {
    color: var(--color-highlight);
    background-color: var(--color-highlight-background);
}

a:active, input[type=submit]:active, input[type=button]:active {
    color: var(--color-highlight);
    background-color: var(--color-highlight-background);
}