@font-face {
    font-family: Material;
    src: url("../assets/Material-Design-Iconic-Font.ttf") format("truetype");
    /*src: url("https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/fonts/Material-Design-Iconic-Font.ttf?v=2.2.0") format("truetype");*/
}

.sh-fw-icon {
    width: 1.5em;
    text-align: center;
    font-weight: 100;
}

.sh-icon-accept:before {
    font-family: Material; content: "\f26b";
}


.sh-icon-add:before {
    font-family: Material; content: "\f278";
}

.sh-icon-add-user:before {
    font-family: Material; content: "\f1ff";
}

.sh-icon-alphabet:before {
    content: "Az";
}

.sh-icon-arrow-up:before {
    font-family: Material; content: "\f303";
}

.sh-icon-back:before {
    font-family: Material; content: "\f2ea";
}

.sh-icon-bug:before {
    font-family: Material; content: "\f120";
}

.sh-icon-cloud-upload:before {
    font-family: Material; content: "\f21e";
}

.sh-icon-download:before {
    font-family: Material; content: "\f220";
}

.sh-icon-edit:before {
    font-family: Material; content: "\f158";
}

.sh-icon-checked:before {
    font-family: Material; content: "\f26b";
}

.sh-icon-checked-circle:before {
    font-family: Material; content: "\f269";
}

.sh-icon-clipboard:before {
    font-family: Material; content: "\f109";
}

.sh-icon-clipboard-copy:before {
    font-family: Material; content: "\f237";
}

.sh-icon-clipboard-cut:before {
    font-family: Material; content: "\f1bc";
}

.sh-icon-clipboard-paste:before {
    font-family: Material; content: "\f10b";
}

.sh-icon-clock:before {
    font-family: Material; content: "\f337";
}

.sh-icon-close:before {
    font-family: Material; content: "\f136";
}

.sh-icon-cloud:before {
    font-family: Material; content: "\f21d";
}

.sh-icon-file:before {
    font-family: Material; content: "\f223";
}

.sh-icon-flip-horizontal:before {
    font-family: Material; content: "\f30d";
}

.sh-icon-flip-vertical:before {
    font-family: Material; content: "\f30c";
}

.sh-icon-folder:before {
    font-family: Material; content: "\f228";
}

.sh-icon-fullscreen:before {
    font-family: Material; content: "\f16d";
}

.sh-icon-gear:before {
    font-family: Material; content: "\f1c6";
}

.sh-icon-html5:before {
    font-family: Material; content: "\f351";
}

.sh-icon-media-add-to-playlist:before {
    font-family: Material; content: "\f3ac";
}

.sh-icon-media-cut:before {
    font-family: Material; content: "\f19e";
}

.sh-icon-media-fwd:before {
    font-family: Material; content: "\f39f";
}

.sh-icon-media-fwd1:before {
    font-family: Material; content: "\f3c5";
}

.sh-icon-media-fwd30:before {
    font-family: Material; content: "\f3a2";
}

.sh-icon-media-loop:before {
    font-family: Material; content: "\f3ae";
}

.sh-icon-media-next:before {
    font-family: Material; content: "\f3b4";
}

.sh-icon-media-pause:before {
    font-family: Material; content: "\f3a7";
}

.sh-icon-media-pause-circle:before {
    font-family: Material; content: "\f3a5";
}

.sh-icon-media-play:before {
    font-family: Material; content: "\f3aa";
}

.sh-icon-media-play-circle:before {
    font-family: Material; content: "\f3a8";
}

.sh-icon-media-playlist:before {
    font-family: Material; content: "\f3ab";
}

.sh-icon-media-previous:before {
    font-family: Material; content: "\f3b5";
}

.sh-icon-media-rwd:before {
    font-family: Material; content: "\f3a0";
}

.sh-icon-media-rwd1:before {
    font-family: Material; content: "\f3c3";
}

.sh-icon-media-rwd10:before {
    font-family: Material; content: "\f3af";
}

.sh-icon-media-shuffle:before {
    font-family: Material; content: "\f3b3";
}

.sh-icon-media-stop:before {
    font-family: Material; content: "\f3b6";
}

.sh-icon-menu:before {
    font-family: Material; content: "\f31e";
}

.sh-icon-move-down:before {
    font-family: Material; content: "\f2f9";
}

.sh-icon-move-up:before {
    font-family: Material; content: "\f2fc";
}

.sh-icon-new-file:before {
    font-family: Material; content: "\f221";
}

.sh-icon-number:before {
    content: "09";
}

.sh-icon-remove:before {
    font-family: Material; content: "\f273";
}

.sh-icon-rename:before {
    font-family: Material; content: "\f22e";
}

.sh-icon-scissors:before {
    font-family: Material; content: "\f1bc";
}

.sh-icon-search:before {
    font-family: Material; content: "\f1c3";
}

.sh-icon-share:before {
    font-family: Material; content: "\f228";
}

.sh-icon-star-circle:before {
    font-family: Material; content: "\f27a";
}

.sh-icon-trashcan:before {
    font-family: Material; content: "\f154";
}

.sh-icon-unfullscreen:before {
    font-family: Material; content: "\f16c";
}

.sh-icon-view-as-grid:before {
    font-family: Material; content: "\f313";
}

.sh-icon-view-as-list:before {
    font-family: Material; content: "\f31f";
}


.sh-icon-wait:before {
    font-family: Material; content: "\f179";
}
