.sh-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;
}

.sh-popup > div {
    position: relative;
    border: solid 2px var(--color-border);
    border-radius: 0.25rem;
    background-color: var(--color-content-background);
    overflow: hidden;
}

.sh-popup header, .sh-popup footer {
    position: absolute;
}

.sh-popup header {
    top: 0;
    left: 0;
    right: 0;
    min-height: 2rem;
    margin: 0;
    color: var(--color-primary);
    background-color: var(--color-primary-background-translucent);
    border-bottom: solid 2px var(--color-border);
    line-height: 2rem;
    text-align: left;
}

.sh-popup footer {
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 2rem;
    margin: 0;
    color: var(--color-primary);
    background-color: var(--color-primary-background-translucent);
    border-top: solid 2px var(--color-border);
    line-height: 2rem;
    text-align: center;
}