div[onclick]:active, li[onclick]:active {
    color: var(--color-highlight) !important;
    background-color: var(--color-highlight-background) !important;
}

.sh-checked {
    color: var(--color-highlight) !important;
    background-color: var(--color-highlight-background) !important;
}

.sh-disabled {
    color: var(--color-disabled);
    background-color: inherit;
    pointer-events: none;
}

.sh-hidden {
    display: none !important;
}

.sh-inverted {
    background-color: var(--color-primary);
    color: var(--color-primary-background);
}

