div[onclick] {
    color: var(--color-primary);
    background-color: var(--color-primary-background);
}

div[onclick]:active {
    color: var(--color-highlight);
    background-color: var(--color-highlight-background);
}

.sh-checked {
    color: var(--color-highlight) !important;
    background-color: var(--color-highlight-background) !important;
}

.sh-disabled {
    color: var(--color-disabled);
    background-color: inherit;
    pointer-events: none;
}

.sh-hidden {
    display: none;
}

.sh-inverted {
    background-color: var(--color-primary);
    color: var(--color-primary-background);
}

